:root {
  margin-left: 1.3%;
  margin-right: 50%;

  padding-left: auto;
  padding-right: auto;
  accent-color: 0deg, rgba(16,16,16,1) 0%, rgba(100,108,255,1) 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.1em;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: var(--color-white,#fff);
  background: linear-gradient(0deg, rgba(16,16,16,1) 0%, rgba(100,108,255,1) 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: rgb(255, 255, 255);
  -webkit-text-fill-coeor: rgba(255, 255, 255, 0); 
}

@media (prefers-color-scheme: dark) {
  :root {
    background: var(--color-white,#fff);
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media only screen and (max-width:640px) {
  :root {
    margin-left: 0px;
    margin: 0px;
  }

  img {
    width: 70%;
    align-items: center;
    text-align: center;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

img {
  transition: all 0.5s ease;
  border-radius: 15px;
  margin-right: auto;
  margin-bottom: 6%;
  width: 70%;
}

body {
  overflow-x: hidden;
  position: relative;
}

h1, h2 {
  color: #bcb65d;
  top: 1%;
  padding-left: 0.5%;
  font-size: 2.2em;
  line-height: 1.1;
}

h3 {
  color: #bcb650;
  top: 1%;
  padding-left: 0.5%;
  font-size: 2.2em;
  line-height: 1.1;
}

h2 {
  top: 0.5%;
  padding: 0.5%;
  font-size: 1.8em;
  line-height: 1.0;
}

h3 {
  top: 0.5%;
  padding: 0.5%;
  font-size: 1.4em;
  line-height: 1.0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

p {
  margin: 0 var(--margin-x,0) 1.54em;
  padding-left: 0.5%;
}

label, input {
  margin-left: 1%;
  transition: all 0.5s ease;
}

li, ol, ul {
  transition: all 0.5s ease;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}


input {
  font-size: 1rem;
  border-width: calc(var(--border-width) * 1px);
  border-style: solid;
  border-color: var(--accent);
  text-align: center;
  transition: border-color calc(var(--transition, 0.2) * 1s) ease;
  border-radius: 8px;
}
